<form [formGroup]="personForm">
  <app-uniobject-update-form [parentForm]="parentForm"></app-uniobject-update-form>

  <label for="dateOfBirth">Date of Birth:</label>
  <input id="dateOfBirth" type="date" class="control" formControlName="dateOfBirth" [class.disabled-field]="!isUpdating" />

  <label for="sex">Sex:</label>
  <select id="sex" class="control" formControlName="sex" [class.disabled-field]="!isUpdating">
    <option value="" disabled selected>Select...</option>
    <option value="Male">Male</option>
    <option value="Female">Female</option>
    <option value="Other">Other</option>
  </select>

  <label for="nationality">Nationality:</label>
  <input id="nationality" type="text" class="control" formControlName="nationality" [class.disabled-field]="!isUpdating" />
</form>
