<form [formGroup]="facultyForm">
  <!-- Вставка форми SubdivisionEntity як вкладеної -->
  <app-subdivision-update-form [parentForm]="parentForm"></app-subdivision-update-form>

  <label for="curricula">Curricula:</label>
  <input id="curricula" class="control" formControlName="curricula" [class.disabled-field]="!isUpdating" />

  <label for="facultyLocation">Faculty Location:</label>
  <input id="facultyLocation" class="control" formControlName="facultyLocation" [class.disabled-field]="!isUpdating"/>
</form>
