<form [formGroup]="personForm">
  <!-- Вставка форми SubdivisionEntity як вкладеної -->
  <app-uniobject-create-form [parentForm]="parentForm"></app-uniobject-create-form>

  <label class="control" for="dateOfBirth">Date of Birth:</label>
  <input class="control" id="dateOfBirth" formControlName="dateOfBirth" type="date" />

  <label class="control" for="sex">Sex:</label>
  <select class="control" id="sex" formControlName="sex">
    <option value="" disabled selected>Select...</option>
    <option value="Male">Male</option>
    <option value="Female">Female</option>
    <option value="Other">Other</option>
  </select>

  <label class="control" for="nationality">Nationality:</label>
  <input class="control" id="nationality" formControlName="nationality" />
</form>
