<form [formGroup]="studentForm">
  <!-- Вставка форми SubdivisionEntity як вкладеної -->
  <app-person-create-form [parentForm]="parentForm"></app-person-create-form>

  <label class="control" for="averageMark">Середня оцінка:</label>
  <input class="control" id="averageMark" formControlName="averageMark" type="number" step="0.01" />

  <label class="control" for="universityGroup">Група:</label>
  <input class="control" id="universityGroup" formControlName="universityGroup" type="text" />

  <label class="control" for="practicalExperience">Практичний досвід(роки):</label>
  <input class="control" id="practicalExperience" formControlName="practicalExperience" type="number" />

</form>
