<form [formGroup]="studentForm">
  <app-person-update-form [parentForm]="parentForm"></app-person-update-form>

  <label for="averageMark">Average Mark:</label>
  <input id="averageMark" type="number" class="control" formControlName="averageMark" [class.disabled-field]="!isUpdating" step="0.1" min="0" max="100" />

  <label for="universityGroup">University Group:</label>
  <input id="universityGroup" type="text" class="control" formControlName="universityGroup" [class.disabled-field]="!isUpdating" />

  <label for="practicalExperience">Practical Experience (Years):</label>
  <input id="practicalExperience" type="number" class="control" formControlName="practicalExperience" [class.disabled-field]="!isUpdating" min="0" />
</form>
