<h1>Особовий Листок з Обліку Кадрів</h1>
<form [ngClass]="parentClass" [formGroup]="studentForm">

  <div class="student-description">

    <app-person-update-form [parentForm]="parentForm" />

    <label for="averageMark">Середній бал:</label>
    <input id="averageMark" type="number" class="control" formControlName="averageMark" [class.disabled-field]="!isUpdating" step="0.1" min="0" max="100" />

    <label for="universityGroup">Група:</label>
    <input id="universityGroup" type="text" class="control" formControlName="universityGroup" [class.disabled-field]="!isUpdating" />

    <label for="practicalExperience">Практичний досвід (роки):</label>
    <input id="practicalExperience" type="number" class="control" formControlName="practicalExperience" [class.disabled-field]="!isUpdating" min="0" />
  </div>

  <div class="user-img">
    <img class="student-photo" src="student.png" alt="user photo">
  </div>
</form>
