<form class="main-form" [formGroup]="mainForm" (ngSubmit)="onSubmit()">
  <label class="class-label" for="classEntityName">Select Entity Type:</label>
  <select class="control" id="classEntityName" formControlName="classEntityName" (change)="onEntityTypeChange()">
    @for (type of relatedTypes; track type) {
      <option [value]="type">{{ type }}</option>
    }
  </select>
  <ng-container #classCreateForm></ng-container>
  <div class="control-buttons">
    <button class="save-button" type="submit">Зберегти</button>
    <button class="cancel-button" type="button" (click)="onCancel()">Закрити</button>
  </div>
</form>
