<form class="main-form" [formGroup]="mainForm" (ngSubmit)="onSubmit()">
  <div class="edit-button" (click)="onUpdate()">
    <img class="img-edit" src="edit.png" alt="edit">
  </div>
  <ng-container #classUpdateForm></ng-container>

  @if(uniobjectService.getUpdatingEntity()) {
    <div class="control-buttons">
      <button class="save-button" type="submit">Submit</button>
      <button class="cancel-button" (click)="onCancelClick()" type="button">Cancel</button>
    </div>
  } @else {
    <div class="control-buttons">
      <button class="save-button" type="button" (click)="onCancelClick()">Close</button>
    </div>
  }
</form>
