<div class="body">
  <app-object-view (onCreateClick)="showCreateDialog()"
                   (onUpdateClick)="showUpdateDialog()"
                   (rightClickEvent)="loadForm($event)"/>

  <div class="info">
    <ng-container #dataContainer></ng-container>
  </div>
  <dialog #updateDialog>
    @if (this.uniobjectService.isUpdated) {
      <app-main-form (closeDialog)="closeUpdateDialog()"
                     [entityId]="uniobjectService.entityId"
                     [selectedEntityType]="this.uniobjectService.updatedEntityClass">
      </app-main-form>
    }
  </dialog>
  <dialog #createDialog>
    @if (this.uniobjectService.isCreated) {
      <app-main-form-create [parentId]="this.uniobjectService.parentId"
                            (createdNew)="closeCreateDialog()">
      </app-main-form-create>
    }
  </dialog>
</div>
