
.body {
  padding-top: 50px;
  height: 750px;
  display: flex;
  background: #e3dddc;
  flex-direction: row;
}

.info {
  width: 100%;
  margin-left: 40px;
  border-top-width: 1px;
  border-top-color: black;
}


* {
  font-family: Lato;
}

.cdk-drag-placeholder {
  display: none;
}

.cdk-drag-preview {
  box-sizing: border-box;
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);

  background: #fff;
  opacity: 0.3;
}

.drop-inside {
  border: 1px solid #00f;
}

.drop-before {
  border-top: 1px solid #00f;
}

.drop-after {
  border-bottom: 1px solid #00f;
}

.node-title {
  padding:15px;
  margin: 5px;
  background: #eee;
  cursor: grab;
}

.node-children {
  position: relative;
  transition: height 0.2s;
  margin-left: 40px;
}
.item-notes {
  margin-left:20px;
  color:#aaa;
}

dialog {
  border-style: solid;
  border-width: 0;
  border-radius: 4px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}


