<div class="form">
  <div class="drive-panel"
       cdkOverlayOrigin
       #trigger="cdkOverlayOrigin"
       [class.open]="actionMenuIsOpen"
       (contextmenu)="onRightButtonClick($event)">
    <ng-template
      cdkConnectedOverlay
      [cdkConnectedOverlayOrigin]="trigger"
      [cdkConnectedOverlayOpen]="actionMenuIsOpen"
      [cdkConnectedOverlayBackdropClass]="'transparent-backdrop'"
      [cdkConnectedOverlayHasBackdrop]="true"
      (overlayOutsideClick)="actionMenuIsOpen = false"
      (backdropClick)="actionMenuIsOpen = false"
      [cdkConnectedOverlayPositions]="[
          {
              originX: 'end',
              originY: 'top',
              overlayX: 'start',
              overlayY: 'top'
          },

      ]"
      [cdkConnectedOverlayPush]="true"
    >
      <app-action-popover (onCreateClick)="onCreate()"
                          (onUpdateClick)="onUpdate()"
                          [entity]="{ id: 0, className: 'root' }"
                          [isFromRoot]="true"
      />
    </ng-template>
    <dx-sortable
      filter=".dx-treeview-item"
      group="shared"
      data="driveC"
      [allowDropInsideItem]="true"
      [allowReordering]="true"
      (onDragChange)="onDragChange($event)"
      (onDragEnd)="onDragEnd($event)"
    >
      <div id="wrapper" #wrapper class="resizable-container" style="resize: both; overflow: auto;">
        <dx-tree-view class="tree-data"
                      #university
                      id="university"
                      dataStructure="tree"
                      displayExpr="name"
                      [expandNodesRecursive]="false"
                      [dataSource]="uniobjectsForTree"
                      (onItemClick)="onItemClick($event)"
                      (onItemContextMenu)="onHandleRightClick($event)"
                      [width]="250"
                      [height]="380"
                      itemTemplate="node-list"
        >
          <div *dxTemplate="let node of 'node-list'">
            <app-node (onCreateClick)="onCreate()" (onUpdateClick)="onUpdate()"
                      [entity]="{ id: node.id, name: node.name, className: node.classEntityName }">
            </app-node>
          </div>
        </dx-tree-view>
      </div>
    </dx-sortable>
  </div>
</div>
