<div class="form">
  <div class="drive-panel">
    <dx-sortable
      filter=".dx-treeview-item"
      group="shared"
      data="driveC"
      [allowDropInsideItem]="true"
      [allowReordering]="true"
      (onDragChange)="onDragChange($event)"
      (onDragEnd)="onDragEnd($event)"
    >
      <dx-tree-view class="tree-data"
                    #university
                    id="university"
                    dataStructure="tree"
                    displayExpr="name"
                    [expandNodesRecursive]="false"
                    [dataSource]="uniobjectsForTree"
                    (onItemClick)="onItemClick($event)"
                    (onItemContextMenu)="onHandleRightClick($event)"
                    [width]="250"
                    [height]="380"
                    itemTemplate="node-list"
      >
        <div *dxTemplate="let node of 'node-list'">
          <app-node [entityId]="node.id" [entityName]="node.name"></app-node>
        </div>
      </dx-tree-view>
    </dx-sortable>
  </div>
</div>
