@import "@angular/cdk/overlay-prebuilt.css";

.class-label {
  display: block;
}

.main-form {
  min-height: 100px;
  min-width: 300px;
}

select.control {
  display: block;
  width: 100%;
  padding-left: 5px;
  border-radius: 9px;
  border-style: solid;
  border-width: 1px;
  padding-top: 2px;
  padding-bottom: 2px;
}

label.control {
  margin-top: 6px;
}

input.control {
  font-size: 15px;
  display: block;
  width: 100%;
  margin-top: 3px;
  padding-left: 8px;
  border-radius: 9px;
  border-style: solid;
  border-width: 1px;
}

.control-buttons {
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;
}

.save-button {
  background-color: rgba(255, 30, 104, 0.9);
  border: none;
  color: white;
  border-radius: 10px;
  margin-right: 8px;
}

.cancel-button {
  background-color: rgba(120, 120, 120, 0.9);
  border: none;
  color: white;
  border-radius: 10px;
}

.disabled-field {
  background-color: white;
  color: black;
  border: none !important;
  border-width: 0;
  pointer-events: none;
  padding-top: 1px;
  padding-bottom: 1px;
}

.chef-info {
  display: flex;
  flex-direction: row;
}

.change-img{
  height: 20px;
  cursor: pointer;
}

.student-info{
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-img {
  align-items: end;
}

.student-photo {
  width: 150px;
}


