<form [formGroup]="subdivisionForm">
  <app-uniobject-create-form [parentForm]="parentForm"></app-uniobject-create-form>
  <label for="chef">Керуючий:</label>
  <div class="chef-info">
    <input id="chef" class="control" formControlName="chef" [class.disabled-field]="true"/>
      <span type="button" (click)="onChangeClick()">
        <img class="change-img" src="change.png" alt="change-chef" />
      </span>
  </div>


  <dialog #selectChefDialog id="selectChefDialog">
    <app-select-object-view (selectedItem)="selectChef($event)" selectedClass="Person"/>
    <button (click)="onClose()" class="btn btn-danger" type="button">Закрити</button>
  </dialog>
</form>
