<div class="item-view">
  <span class="entity-name">{{ entity.name }}</span>
  <button
    class = "menu"
    cdkOverlayOrigin
    #trigger="cdkOverlayOrigin"
    [class.open]="actionMenuIsOpen"
    (click)="actionMenuIsOpen = !actionMenuIsOpen">
    <img class="menu-img" src="dots-menu.png" alt="menu-dots"/>
  </button>
  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="actionMenuIsOpen"
    [cdkConnectedOverlayBackdropClass]="'transparent-backdrop'"
    [cdkConnectedOverlayHasBackdrop]="true"
    (overlayOutsideClick)="actionMenuIsOpen = false"
    (backdropClick)="actionMenuIsOpen = false"
    [cdkConnectedOverlayPositions]="[
          {
              originX: 'end',
              originY: 'top',
              overlayX: 'start',
              overlayY: 'top'
          },

      ]"
    [cdkConnectedOverlayPush]="true"
    >
    <app-action-popover [entity]="{ id: entity.id, className: entity.className }"></app-action-popover>
  </ng-template>
</div>
